version: "3.8"

services:
  poste:
    image: analogic/poste.io
    container_name: poste
    restart: always
    ports:
      - "25:25"
      - "80:80"
      - "443:443"
      - "110:110"
      - "143:143"
      - "465:465"
      - "587:587"
      - "993:993"
      - "995:995"
    volumes:
      - /mnt/mail:/data
    environment:
      - HTTPS=ON         # Fuerza HTTPS
      - DISABLE_CLAMAV=TRUE  # Desactiva antivirus (ahorra recursos)
      - TZ=America/La_Paz    # Ajusta zona horaria
